DRIVER=~fastapi+~httpx+~websockets
HOST=0.0.0.0
PORT=8080
MILKY_CLIENTS='
[
  {
    "host": "lagrange",
    "port": "3000",
    "access_token": "",
    "secure": false
  }
]
'
API_TIMEOUT=120.0
WEBHOOK_SECRET=SECRET
TEST_GROUP_ID=785037622
APP_REPO=ACaiCat/WebHookTest
OFFLINE_NOTICE_WEBHOOK=https://www.feishu.cn/...
SMTP_SERVER=smtp.qq.com
SMTP_PORT=465
SMTP_USERNAME=your_bot_email@qq.com
SMTP_PASSWORD=your_generated_auth_code
EMAIL_FROM=your_bot_email@qq.com
EMAIL_TO=your_admin_email@gmail.com
AI_API_KEY=your_ai_api_key
AI_API_URL=https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions
AI_MODEL=qwen-max-latest

# Apple App Store Connect API
APP_STORE_ISSUER_ID=1145141919810
APP_STORE_KEY_ID=114514
APP_STORE_KEY_CONTENTS=your_app_store_key_contents
APP_STORE_APP_ID=866768101

# Huawei AppGallery Connect API
APP_GALLERY_CREDENTIALS={"key_id":"your_key_id","private_key":"your_private_key","sub_account":"your_sub_account","token_uri":"https://connect-api.cloud.huawei.com/api/oauth2/v1/tokens"}
APP_GALLERY_APP_ID=your_app_gallery_app_id
